*.aux
*.DS_Store
*.toc
*.out
*.lot
*.nlo
*.log
*.lof
*.ist
*.idx
*.gls
*.glo
*.glg
*.bbl
*.alg
*.acr
*.acn
*.dvi
*.synctex.gz
*.ps
*.ind
*.ilg
*.fls
*.fdb_latexmk
*.blg
*.pdf
*.nls
./Outputs/*.
./Chapters/*.aux
./Chapters/AuxiliaryFiles/*.
# ./Images/*.jpg
# ./Images/*.png
