# LaTeX build files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gls
*.glo
*.glg
*.ist
*.acn
*.acr
*.alg
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.lof
*.lot
*.synctex.gz
*.ps
*.dvi

# MacOS metadata
.DS_Store

# Optional auxiliary folders
Chapters/AuxiliaryFiles/
Outputs/