# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gls
*.glo
*.glg
*.ist
*.acn
*.acr
*.alg
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.lof
*.lot
*.synctex.gz
*.dvi
*.ps

# MacOS
.DS_Store